* {
  margin: 0px;
}


img {
  height: 200px;
  width: 500px;
  padding: 20px;
}

h1 {
  background-color: maroon;
  color: GAINSBORO;
  /* box-shadow: 5px 5px 5px 5px maroon; */
 font-family: 'Allerta Stencil', sans-serif;
 text-align: center;
 padding: 10px;
 font-size: 50px;
 margin: 0px;
}

.appearances {
  font-size: 75px;
  background-color: slategray;
  padding: 75px;
  text-align: center;
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
  margin-top: 0px;
}

.blurb {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: 'Karla', sans-serif;
  background-color: slategray;
  margin-left: 300px;
  margin-right: 300px;
  padding: 30px;

}

a {
  background-color: maroon;
  font-family: 'Karla', sans-serif;
  box-shadow: 0 5px 0 red;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
}

a:hover {
  background-color: slategray;
}

.links {
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;
}

body {
  background-color: slategray;
}

.why {
  background-color: maroon;
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 50px;
  text-align: center;
}

#head {
  font-size: 25px;
  text-align: center;
  color: maroon;
  font-family: 'Karla', sans-serif;
  background-color: slategray;
  margin-left: 300px;
  margin-right: 300px;
  padding: 10px;
  font-style: oblique;
}

@media screen and (max-width: 1000px){
  .blurb{
    margin-right: 0px;
    margin-left: 0px;
  }
  img{
    max-width: 75%;
  }
  .appearances{
    padding: 0px;
    font-size: 60px;
  }
  #head{
    margin-left: 0px;
    margin-right: 0px;
  }
  .links{
    padding: 0px;
  }
  .why{
    font-size: 35px;
  }
  .blurb{
    font-size: 20px;
  }
}
