body{
  background-color:;

}

a {
  background-color: maroon;
  box-shadow: 0 5px 0 red;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: row;
}

#takeA {
 background-color: maroon;
 color: GAINSBORO;
 /* box-shadow: 5px 5px 5px 5px maroon; */
font-family: 'Allerta Stencil', sans-serif;
text-align: center;
padding: 10px;
font-size: 50px;
}

.header{
  border: 3px solid maroon;
  /* background-color: maroon; */
  /* box-shadow: 5px 5px 5px 5px maroon; */
  font-family: 'Allerta Stencil', sans-serif;
  text-align: center;
  padding: 5px

}

.list{
  background-color:GAINSBORO;
  border: 3px solid maroon;
  padding: 7px


}
.links{
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px

}

p{
    background-color:GAINSBORO;
    color: maroon;
    /* box-shadow: 5px 5px 5px 5px GAINSBORO; */
    padding: 5px
}
.link{
  text-align: center;
  font-size: 18px;
}
 h3{
  font-weight: bolder;
  /* background-image: -webkit-gradient(
  linear, left top, left bottom, from(rgba(50,50,50,0.8)),
  to(rgba(80,80,80,0.2)), color-stop(.5,#333333)
); */
  background:maroon;
  /* border-radius: 30px; */
  padding: 10px;
    /* box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; */
    font-family: 'Karla', sans-serif;
  color: white;
  /* box-shadow: 5px 5px 5px 5px maroon; */
}

.getHelp, .learnMore, .donate{
  max-width: 400px;

}
/* .logo{
  display: flex;
  flex-direction: row;
}

/* about html */



/* post html */
/* .tip1 {
  padding: 10px;
  background-color: blue;
}

button:hover .tip1{
   display: none; }

button:hover .hiddenTip1:before {
   content:"EMMber: Ignite Change";
   background-color: black;
   color: white;
   border: none;
   padding: 10px;
   outline : none;
   -moz-outline : none;
  }

body {
  background-color: lightsalmon;
}

h1 {
  color: blue;
} */
