
/* the divs for centering the buttons  */
.topFlex {
  display: flex;
  justify-content: center;
}

.missionFlex {
  display: flex;
  justify-content: center;

}

/* the header formatting for the hidden and shown button */
.top {
  display: flex;
  background-color: coral;
  font-family: georgia;
  padding: 10px;
  font-size: 75px;
  margin: 25px;
}

button:hover .logo{
   display: none;
 }

button:hover .logoHidden:before {
   content:"EMMber: Ignite Change";
   background-color: black;
   color: white;
   border: none;
   padding: 20px;
   outline : none;
   -moz-outline : none;
  }

/* mission statement button formatting */
  .mission {
    display: flex;
    background-color: lightgreen;
    font-family: georgia;
    padding: 10px;
    font-size: 50px;
    margin: 25px;

  }

  button:hover .mission1{
     display: none;
   }

  button:hover .missionHidden:before {
     content:"This is our mission statement";
     background-color: black;
     color: white;
     border: none;
     font-size: 20px;
     padding: 20px;
     outline : none;
     -moz-outline : none;
    }




body {
  background-color: lightcyan;
}

h1 {
  color: blue;
}

img {
  height: 200px;
  margin: 10px;
}

.top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headPics {
  display: flex;
  justify-content: space-around;
}
