.logo{
  display: flex;
  flex-direction: row;
}

<<<<<<< HEAD
/* about html */

/* contact html */
.getHelp, .learnMore, .donate{
  display: flex;

}

/* post html */
=======
.tip1 {
  padding: 10px;
  background-color: blue;
}

button:hover .tip1{
   display: none; }

button:hover .hiddenTip1:before {
   content:"EMMber: Ignite Change";
   background-color: black;
   color: white;
   border: none;
   padding: 10px;
   outline : none;
   -moz-outline : none;
  }

body {
  background-color: lightsalmon;
}

h1 {
  color: blue;
}
